{% extends "layout.html" %}
{% block body %}


<!DOCTYPE html>
<head>
    <title>Edit Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
<body>


  
<form action="/edit/{{sno}}" method="POST">
    <section class="text-gray-700 body-font relative">
        <div class="container px-5 py-24 mx-auto" style="padding-bottom: 44px;">
          <div class="flex flex-col text-center w-full mb-12">
            
            
            <h1>Basic Actions</h1>
            
            <a href="/dashboard"><button class="btn btn-warning">Dashboard Home</button></a>
            
            <hr>
            <a href="/logout"><button class="btn btn-danger">Logout</button></a>
            <hr>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Fill the credentials.</h1>
            
          </div>
          <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 w-1/2">
                <label>Category</label>
                <input value="{{notice.category}}" id="category" name="category" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Category" type="text">
              </div>
              <div class="p-2 w-1/2">
                <label>Title(Bold)</label>
                <input value="{{notice.title}}" id="title" name="title" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Title" type="text">
              </div>
              <div class="p-2 w-full">
                  <label>Content(Normal)</label>
                <textarea id="content" name="content" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Content">{{notice.content}}</textarea>
              </div>

              

              <div class="p-2 w-1/2">
                <label>Image File</label>
                <input value="{{notice.img_file}}" id="img_file" name="img_file" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="img_file" type="text">
              </div>

              <div class="p-2 w-1/2">
                <label>Slug</label>
                <input value="{{notice.slug}}" id="slug" name="slug" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="slug" type="text">
              </div>

              <div class="p-2 w-1/2">
                <label>Paste the link of 1st youtube video here</label>
                <input value="{{notice.link_youtube_1}}" id="link_youtube_1" name="link_youtube_1" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Paste the link of first youtube video here" type="text">
              </div>

              <div class="p-2 w-1/2">
                <label>Paste the link of 1st PDF file here</label>
                <input value="{{notice.link_pdf_1}}" id="link_pdf_1" name="link_pdf_1" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Paste the link of first PDF file here" type="text">
              </div>

              <div class="p-2 w-1/2">
                <label>Paste the link of 1st form here</label>
                <input value="{{notice.link_form_1}}" id="link_form_1" name="link_form_1" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Paste the link of first form here" type="text">
              </div>




              <div class="p-2 w-1/2">
                <label>Write the description about the 2nd youtube video</label>
                <input value="{{notice.decr_youtube_2}}" id="decr_youtube_2" name="decr_youtube_2" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Write the description about the second youtube video here" type="text">
              </div>

              <div class="p-2 w-1/2">
                <label>Paste the link of 2nd youtube video here</label>
                <input value="{{notice.link_youtube_2}}" id="link_youtube_2" name="link_youtube_2" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Paste the link of second youtube video here" type="text">
              </div>


              <div class="p-2 w-1/2">
                <label>Write the description about the 2nd PDF file</label>
                <input value="{{notice.decr_pdf_2}}" id="decr_pdf_2" name="decr_pdf_2" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Write the description about the second PDF file here" type="text">
              </div>

              <div class="p-2 w-1/2">
                <label>Paste the link of 2nd PDF file here</label>
                <input value="{{notice.link_pdf_2}}" id="link_pdf_2" name="link_pdf_2" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Paste the link of second PDF file here" type="text">
              </div>
              

              <div class="p-2 w-1/2">
                <label>Write the description about the 2nd form</label>
                <input value="{{notice.decr_form_2}}" id="decr_form_2" name="decr_form_2" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Write the description about the second form here" type="text">
              </div>

              <div class="p-2 w-1/2">
                <label>Paste the link of 2nd form here</label>
                <input value="{{notice.link_form_2}}" id="link_form_2" name="link_form_2" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Paste the link of second form here" type="text">
              </div>




              <div class="p-2 w-full">
                <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
              </div>
              
              
            </div>
           
          </div>
        
        </div>
      </section>
      </form> 

</body>
</html>
    
</body>
</html>





{% endblock %}

    

