{% extends "layout.html" %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    
</head>
<body>


    <section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center" style="padding: 25px;">
          
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="{{url_for('static', filename = 'img/20200608_110050_0000.png')}}">
          </div>
          
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">ઊઠો, જાગો અને ધ્યેય પ્રાપ્તિ 
              <br class="hidden lg:inline-block">સુધી માંડ્યા રહો.
            </h2>
            <p class="mb-8 leading-relaxed">A school is a educational institution  designed to provide learning speaces and learning environments for the teaching of Students (or "pupils") under the direction of teachers. Most countries have systems of formal education, which is commonly compulsory . In these systems, students progress through a series of schools. The names for these schools vary by country but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught, is commonly called a University College or University, but these higher education institutions are usually not compulsory.</p>
            <div class="flex justify-center">
                <a href="/" type="button" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</a>
                <a href="/" type="button" class="ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">Button</a>            
            
            </div>
          </div>
          
        </div>
      </section>

      <hr>
    
 <!--     <section class="text-gray-700 body-font overflow-hidden" style="background: aliceblue;">
        <div class="container px-5 py-24 mx-auto" style="margin-bottom: -38px; padding-top: 18px;">
          <div class="-my-8">
            

            {% for notice in notice %}
            <div class="py-8 flex flex-wrap md:flex-no-wrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="tracking-widest font-medium title-font text-gray-900">{{notice.category}}</span>
                <span class="mt-1 text-gray-500 text-sm">{{notice.date}}</span>
              </div>
              <div class="md:flex-grow" style="margin-left: 50px;">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{notice.title}}</h2>
                <p class="leading-relaxed">{{notice.content[0:13]}}...</p>
                <a type="button" href="/notice/{{notice.slug}}" class="text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                
              </div>
            </div>
            <hr>
            
            
            {% endfor %}
            <hr>
            <div style="margin-top: 25px;" class="flex justify-center">
              <a href="{{prev}}" style="margin-right: 50px;" type="button" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">&larr; Previous</a>
              <a href="{{next}}" style="margin-left: 50px;" type="button" class="ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">Next &rarr;</a>            
          
            </div>
           
         
          </div>
        </div>
      </section> -->

      {% for scroll in scroll %}
      <marquee style="background-color: #7FDBFF; margin-bottom: -1rem;" scrolldelay="200" direction="up" height="110px" width="100%">
        <h1 style="text-align: center; color: #001f3f;">{{scroll.scroll_notice}}</h1>

    </marquee>
    {% endfor %}
   

    
    
</body>
</html>


<hr>



{% endblock %}