<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/20200608_110050_0000.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Govt. Trial
    </title>
</head>
<body>
    <header class="text-gray-700 body-font" style="background: #e6e4ef;">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            
            <img style="padding: 0%;" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" src="{{url_for('static', filename = 'img/20200608_110050_0000.png')}}">

            
            
          
          <div class="ml-3 text-xl" style="color: black;">
            <a type="button" href='/'>{{params['top_title']}}</a>
          </div >
          
          
        
        </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            
            <a class="mr-5 hover:text-gray-900" href="/standard">Study-material</a>
            <a class="mr-5 hover:text-gray-900" href="/contact">Contact</a>
            <a class="mr-5 hover:text-gray-900" href="/notice-list">Student-posts</a>
            <a class="mr-5 hover:text-gray-900" href="/staff-info">Staff-info</a>
            
          </nav>
          
        </div>
      </header>

      {% block body %} {% endblock %}

      <footer class="text-gray-700 body-font" style="background:#e6e4ef;">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img style="padding: 0%;" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" src="{{url_for('static', filename = 'img/20200608_110050_0000.png')}}">

           
            <div class="ml-3 text-xl" style="color: black;">
              <a type="button" href="/">{{params['bottom_title']}}</a>
            </div>
          
          
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">This website is provided by-
            <a class="text-gray-600 ml-1" rel="noopener noreferrer" href="https://dailyblogs2020.herokuapp.com/" target="_blank">Axay Patoliya & Dip Thummar.</a>
          </p>
         
        </div>
      </footer>
    
</body>
</html>