{% extends "layout.html" %}
{% block body %}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap w-full">
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
          {% for l9 in l9 %}
          {% set fname = 'img/' + l9.pdf_file1 %}
          {% set ffname = 'img/' + l9.pdf_file2 %}
          {% set fffname = 'img/' + l9.pdf_file3 %}
            <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                <a>{{l9.sno}}</a>
              
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">{{l9.name}}</h2>
              <h3 class="leading-relaxed">{{l9.decr}}</h3>
              
              <hr>

              <p class="leading-relaxed">{{l9.pdf_decr1}}
                  <a style="color:indigo;" target="_blank" type="button" href="{{ url_for('static', filename=fname) }}">HERE.</a> 
              </p>

              <p class="leading-relaxed">{{l9.video_decr1}}
                <a style="color:indigo;" target="_blank" type="button" href="{{l9.video_file1}}">HERE.</a> 
            </p>

              <p class="leading-relaxed">{{l9.pdf_decr2}}
                <a style="color:indigo;" target="_blank" type="button" href="{{ url_for('static', filename=ffname) }}">HERE.</a> 
            </p>

            <p class="leading-relaxed">{{l9.video_decr2}}
                <a style="color:indigo;" target="_blank" type="button" href="{{l9.video_file2}}">HERE.</a> 
            </p>

            <p class="leading-relaxed">{{l9.pdf_decr3}}
                <a style="color:indigo;" target="_blank" type="button" href="{{ url_for('static', filename=fffname) }}">HERE.</a> 
            </p>

            <p class="leading-relaxed">{{l9.video_decr3}}
                <a style="color:indigo;" target="_blank" type="button" href="{{l9.video_file3}}">HERE.</a> 
            </p>



            

            

            

            </div>
          </div>
          {% endfor %}
          
          
          
        
    </div>
  </section>

  {% endblock %}