{% extends "layout.html" %}
{% block body %}


{% set fname = 'img/' + notice.img_file %}
<section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{{url_for('static', filename = fname)}}">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="tracking-widest font-medium title-font text-gray-900">{{notice.category}}</h1>
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{notice.title}}</h1>
        <p class="mb-8 leading-relaxed">{{notice.content}}</p>
        <div class="flex justify-center">
          
          
            <!-- <a class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="button" href="/notice-list">&larr; Back</a>  -->
            <button style="color: red;" style="font-size:24px"><a style="color: red;" href="{{notice.link}}"><i class="fa fa-youtube-play" style="font-size:48px;color:red"> </i></a></button>

          
        </div>
            
      </div>
    </div>
</section>

  {% endblock %}