{% extends "layout.html" %}
{% block body %}

<section class="text-gray-700 body-font">
  
  {% for principal in principal %} 
  {% set fname = 'img/' + principal.img_file %}  
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{{url_for('static', filename = fname)}}">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{principal.name}}</h1>
        <p class="mb-8 leading-relaxed">{{principal.info}}</p>
        <hr>
        <div class="flex justify-center">
          {% endfor %}
          

          <div style="margin-top: 2rem;" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            <a type="button" href="/staff-info">&larr; Back</a>
          </div>
          
          
         
        </div>
      </div>
    </div>
  </section>

  

  {% endblock %}