{% extends "layout.html" %}
{% block body %}


<div>
<h1 style="text-align: center; margin-top: 36px;" class="text-2xl font-medium title-font mb-4 text-gray-900">List of our teching staff</h1>
</div>


<section class="text-gray-700 body-font">
  
  <div style="margin-top: 1.5rem; padding-top: 1rem;" class="container px-5 py-24 mx-auto">
    
    <div class="flex flex-wrap -m-4">
      {% for teacher in teacher %}
  {% set fname = 'img/' + teacher.img_file %}
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{url_for('static', filename = fname)}}">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{teacher.role}}</h3>
            
            <h2 class="text-gray-900 title-font text-lg font-medium">{{teacher.name}}</h2>
            
            <p class="mt-1">{{teacher.info}}</p>
            
          </div>
          
          
        </div>
        
       
        {% endfor %}
      </div>
      
    </div>
       
  </section>
  
  

{% endblock %}